/****************** шрифты ******************/

@font-face {
    font-family: "pusia";
    src: url("../fonts/pusia-bold.ttf") format("truetype");
}

.font_pusia {
    font-family: "pusia";
}


/*******************************************/

html, body {
    margin: 0;
    padding: 0;
}

/****************** Шапка ******************/

.topbar {
    display: flex;
    overflow: hidden;
    background-color: #1c1f1d;
    border-radius: 0.8vw;
    margin: 0.9vw;
}

.topbar a {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    padding: 1.2%;
    text-decoration: none;
    font-size: 2vw;
    font-family: "pusia";
    border-left: 0.4vh dashed;
    border-right: 0.4vh dashed;
    border-color: white;
    overflow-wrap: break-word;
    hyphens: auto;
}

.topbar a:hover {
    -webkit-text-stroke: 0.1vw black;
    background-color: cyan;
    /*color: black;*/
}

.topbar a:last-child {
    border-right: initial;
}

.topbar a:first-child {
    border-left: initial;
}

.topbar a.active {
    background-color: #2bd94e;
    color: white;
}




/******************* Основной контент *******************/

.hand {
    cursor: pointer;
}

.background {
    background-image: url('../images/background.jpg');
    /* background-size:100% 100%; */
    object-fit:contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content {
    display: flex;

    font-size: 3vw;

    box-sizing: content-box;
    
    /*margin-top: 1vw;
    margin-bottom: 1vw;*/

    margin: 0.8vw;

    padding: 0 2.9% 1vw 2.9%;

    border: solid 0px;
    border-radius: 0.8vw;

    background-color: rgba(28, 31, 29, 0.8);

    backdrop-filter: blur(4px);

    color: white;

}

.indent {
    text-indent: 30%;
}

.center {
    text-align: center;
}




/******************* Футер *******************/

.bottombar {
    display: flex;
    overflow: hidden;
    background-color: #1c1f1d;
    flex-direction: column;
}

.bottombar .discord-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1.2%;
    text-decoration: none;
    font-size: 4.5vw;
    font-family: "pusia";
    border-color: white;
    overflow-wrap: break-word;
    hyphens: auto;
}

.bottombar .discord-dd {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1.2%;
    text-decoration: none;
    font-size: 2vw;
    font-family: "pusia";
    border-color: white;
    overflow-wrap: break-word;
    hyphens: auto;
}

.bottombar .nko {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1.2%;
    text-decoration: none;
    font-size: 2vw;
    font-family: "pusia";
    border-color: white;
    overflow-wrap: break-word;
    hyphens: auto;
}

.bottombar .nkolink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    padding: 1.2%;
    font-size: 4vw;
    font-family: "pusia";
    border-color: white;
    overflow-wrap: break-word;
    hyphens: auto;
}

.discord-dd{
    width:500px;
    height: 300px;
    font-size: 7vw;
}


/************ Моды/Файлы ************/

.mod {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 1.2%;

    font-family: "pusia";
    text-align: center;

    border-radius: 0.8vw;

    background: rgba(0, 0, 0, 0.5);

    margin-bottom: 4vw;
}

.mod img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.mod name {
    padding-top: 1.5vw;
    font-size: 3.5vw;
}

.mod description {

    color: white;

    font-size: 2.5vw;
    

    overflow-wrap: break-word;
    hyphens: auto;
}

.mod a {
    cursor: pointer;

    color: white;
    background-color: #2bd94e;

    border-radius: 0.8vw;

    padding: 1.2%;

    text-decoration: none;

    font-size: 2vw;
    font-family: "pusia";

    overflow-wrap: break-word;
    hyphens: auto;
}

.mod a:hover {
    -webkit-text-stroke: 0.1vw black;
    background-color: cyan;
}


/******************* адаптация *******************/


/******* под широкие мониторы *******/

@media  only screen and (min-width : 1920px) and (max-width : 3840px) {


    /*.mod img {
        width: auto;
        height: auto;
    }*/

    .mod name {
        font-size: 3vw;
    }

    .mod description {
        font-size: 2vw;
    }

    .mod a {
        font-size: 1.8vw;
    }



    /*** Основной контент ***/

    .background {
        background-image: url('../images/background.jpg');
        background-size: 100%;
    }


    /*** Футер ***/

    .discord-dd{
        width:950px;
        height: 500px;
        font-size: 7vw;
    }

}




/******* под планшеты *******/

@media  only screen and (min-width : 1000px) and (max-width : 1280px) {
    .background {
        background-image: url('../images/background.jpg');
        background-size: cover;
    }
    .discord-dd{
        width: 550px;
        height: 350px;
        font-size: 7vw;
    }

    /*.mod img {
        width: 7vw;
        height: 7vw;
    }*/

    .mod name {
        font-size: 5vw;
    }

    .mod description {
        font-size: 3vw;
    }

    .mod a {
        font-size: 2.5vw;
    }

}


@media  only screen and (min-width : 721px) and (max-width : 999px) {

/***Шапка ***/
.topbar a { 
        
        font-size: 4vw;
    }

     /*** Основной контент ***/
    .background {
        background-image: url('../images/background.jpg');
        background-size: cover;
    }
    .content{
        font-size: 3.5vw;
    }
    

    /*.mod img {
        width: 8vw;
        height: 8vw;
    }*/

    .mod name {
        font-size: 6vw;
    }

    .mod description {
        font-size: 4vw;
    }

    .mod a {
        font-size: 3.5vw;
    }


/*** Футер ***/
    .bottombar .discord-text {
        font-size: 4vw;
    }
    
    .bottombar .discord-dd {
        font-size: 4vw;
        
    }
    
    .bottombar .nko {
        font-size: 4vw;
        
    }
    .bottombar .nkolink {
        font-size: 4vw;
        
    }
    .discord-dd{
        width: 350px;
        height: 250px;
        font-size: 7vw;
    }
}




/******* под смартфоны *******/

@media  only screen and (min-width : 450px) and (max-width : 720px) {
    /***Шапка ***/
    .topbar  { 
        flex-direction: column;
    }
    .topbar a { 
        font-size: 6vw;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0.4vh dashed;
    }

    .topbar a:last-child {
        border-bottom: initial;
    }



    /*** Основной контент ***/

    .content{
        font-size: 5vw;
    }

    /*.mod img {
        width: 12vw;
        height: 12vw;
    }*/

    .mod name {
        font-size: 8vw;
    }

    .mod description {
        font-size: 6vw;
    }

    .mod a {
        font-size: 5vw;
    }



    /*** Футер ***/

    .bottombar .discord-text {
        font-size: 6vw;
    }

    .bottombar .discord-dd {
        font-size: 5vw;
    }

    .bottombar .nko {
        font-size: 5vw;
    }

    .bottombar .nkolink {
        font-size: 6vw;
    }

    .discord-dd{
        width: 350px;
        height: 250px;
        font-size: 7vw;
    }
}


@media  only screen and (min-width : 270px) and (max-width : 449px) {
    /***Шапка ***/
    .topbar  { 
        flex-direction: column;
    }
    .topbar a { 
        font-size: 6vw;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0.4vh dashed;
    }

    .topbar a:last-child {
        border-bottom: initial;
    }

    /*** Основтой контент ***/

    .content {
        font-size: 5vw;
    }


    /*.mod img {
        width: 15vw;
        height: 15vw;
    }*/

    .mod name {
        font-size: 9vw;
    }

    .mod description {
        font-size: 7vw;
    }

    .mod a {
        font-size: 6vw;
    }


    /*** Футер ***/
    .bottombar .discord-text {
        font-size: 6vw;
    }

    .bottombar .discord-dd {
        font-size: 5vw;
    }

    .bottombar .nko {
        font-size: 5vw;
    }

    .bottombar .nkolink {
        font-size: 6vw;
    }

    .discord-dd{
        width: 250px;
        height: 200px;
        font-size: 7vw;
    }

}